<div class="container">
  <div class="row">

    <div class="col-sm-2">
      <div class="section">

      </div>
    </div>

    <div id="post-timeline" class="col-lg-6">
      <div class="post">
        <h3 class="font-weight-bold pt-2">{{post.title}}</h3>
        <img class="postimage pt-2 pb-2" src="{{post.imageUrl}}" alt="" width="100%">
        <p class="post-meta">{{post.votes}} Vote . {{post.commentCount}} comments</p>
        <div class="post-options pb-4 border-bottom">
          <button type="button" class="btn btn-outline-secondary"><i class="material-icons" (click)="upvote(post.id, i)">arrow_upward</i></button>
          <button type="button" class="btn btn-outline-secondary"><i class="material-icons" (click)="downvote(post.id, i)">arrow_downward</i></button>
        </div>
      </div>
      <app-comment></app-comment>
    </div>

    <div class="col-sm pt-2 pl-4">
      <app-featured-posts></app-featured-posts>
    </div>

  </div>
</div>
