<form *ngIf="isLogin">
  <div class="form-group">
    <label class="font-weight-bold" for="exampleFormControlTextarea1">Comment</label>
    <textarea type="text" placeholder="Write comments ..." class="form-control" [(ngModel)]="comment.text" name="text" rows="3"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="Post Comment" class="btn btn-info btn-lg" (click)="submitComment()">
  </div>
</form>

<div class="comment row pb-2" *ngFor="let comment of comments">
    <div class="col-auto">
      <img src="assets/avatar.jpg" alt="avatar" class="avatar rounded" style="width:50px;height:50px">
    </div>
    <div class="username col-lg">
      <a class="font-weight-bold">username</a>
      <div class="comment-text">
        {{comment.text}}
      </div>

    </div>
</div>
