<!--The content below is only a placeholder and can be replaced.-->

<!-- Nav -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">
    <a routerLink="/home" class="navbar-brand">Agrimeme</a>
      <ul class="navbar-nav navbar-right" *ngIf="!isLogin">
        <li class="mx-1">
          <a routerLink="/signup" class="btn btn-primary btn-lg">Daftar</a>
        </li>
        <li>
          <a routerLink="/signin" class="btn btn-info btn-lg">
            Login
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="isLogin">
        <li class="mx-1">
          <a routerLink="/logout" class="btn btn-primary btn-lg">Logout</a>
        </li>
      </ul>
  </div>
</nav>
<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate">
</mat-progress-bar>
<!-- Nav -->
<router-outlet></router-outlet>
