<!--The content below is only a placeholder and can be replaced.-->

<!-- Nav -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container">
    <a routerLink="/home" class="navbar-brand">Agrimeme</a>
      <ul class="navbar-nav navbar-right" *ngIf="!isLogin">
        <li class="mx-1">
          <a routerLink="/signup" class="btn btn-outline-primary">Daftar</a>
        </li>
        <li>
          <a routerLink="/signin" class="btn btn-outline-info">
            Login
          </a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right" *ngIf="isLogin">
        <li>
          <a routerLink="/newpost" class="btn btn-outline-info">
            Post
          </a>
        </li>
        <li class="nav-item dropdown mx-1">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Profile</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button routerLink="/logout" ngbDropdownItem>Logout</button>
            </div>
          </div>
        </li>
      </ul>
  </div>
</nav>
<mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate">
</mat-progress-bar>
<!-- Nav -->
<router-outlet></router-outlet>
