<div class="container pt-md-5">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Post Fresh Meme</h3>
			</div>
			<div class="card-body">
				<form>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="material-icons">assignment</i></span>
            </div>
            <input type="text" class="form-control" placeholder="Title" [(ngModel)]="post.title" name="title">
          </div>

					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="material-icons">email</i></span>
						</div>
						<input type="text" class="form-control" placeholder="Description" [(ngModel)]="post.description" name="description">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<input id="image" type="file" name="image" class="form-control" [(ngModel)]="image">
						</div>
						
					</div>
					<div class="form-group">
						<input type="submit" value="Post" class="btn btn-info btn-lg" (click)="submit()">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
