.trending-post img {
  object-fit: none;
  object-position: center;
  width: 100%;
  max-height: 100px;
  margin-bottom: 1rem;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:link:active, a:visited:active {
  color: black;
}
