<!-- Main -->
<div class="container">
  <div class="row">

    <div class="col-sm-2">
      <div class="section">

      </div>
    </div>

    <div id="post-timeline" class="col-lg-6" *ngIf="posts">
      <div class="post" *ngFor="let post of posts">
        <a routerLink="/post/{{post.id}}"><h3 class="font-weight-bold pt-2">{{post.title}}</h3></a>
        <img class="postimage pt-2 pb-2" src="{{post.imageUrl}}" alt="" width="100%">
        <p class="post-meta">0 Vote . 0 comments</p>
        <div class="post-options pb-4 border-bottom">
          <button type="button" class="btn btn-outline-secondary"><i class="material-icons">arrow_upward</i></button>
          <button type="button" class="btn btn-outline-secondary"><i class="material-icons">arrow_downward</i></button>
          <button type="button" class="btn btn-outline-secondary"><i class="material-icons">comment</i></button>
          <button type="button" class="btn btn-outline-secondary"><i class="material-icons">more_horiz</i></button>
        </div>
      </div>

    </div>

    <div class="col-sm pt-2 pl-4">
      <div class="featured-post">
          <p>Trending/featured post placeholder</p>
      </div>
    </div>

  </div>
</div>
<!-- Main -->
